*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.main{
    
    background: url("1.jfif") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.5);
}

.title{
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-top: 60px;
}

.col{
    
    width: 1000px;
    /* height: 100px; */
    margin: 40px auto;
    margin-top: 80px;
    /* border: 1px solid red; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    color: white;
}

.col div{
   width: 250px;
   text-align: center;
}

input{
    /* display: block; */
    height: 50px;
    width: 60%;
    background-color: rgb(255,255,255,0.8);
    border-color: transparent;
    border-radius: 5px;

    /* inside input box */
    text-align: center;
    font-size: 30px;

}

